<div class="hero-unit">
	<h1>welcome to our site!</h1>
	<p>
 	you found our home page
 	<%= link_to "one month rails", "http://onemonthrails.com"%>
 	</p>
	<p>
	<%= link_to "sign up now" ,"#", class: "btn btn-primary btn-large" %>
	</p>

</div>


